<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://unpkg.com/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/font-awesome.css" type="text/css">
  <link rel="stylesheet" href="main.css" type="text/css"/>
</head>
<body>

  <div id="particles-js">
    <div id="app">

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h1 id="title-header" data-toggle="collapse" data-target=".navbar-collapse.show" @click="showAbout">AH</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" @click="showAbout">
              <a class="nav-link">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" @click="showExperience">
              <a class="nav-link">Experience</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" @click="showPortfolio">
              <a class="nav-link">Portfolio</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" @click="showMusic">
              <a class="nav-link">Music</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" @click="showContact">
              <a class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="content">
      <h1 v-if="about">Augustin Holguín</h1>

      <!-- ABOUT -->
        <div class="about" v-if="about">
          <img src="./images/linkedin-sq.jpg">
          <h3>
            25 years old MSc student at Rotterdam School of Management (Erasmus University)
          </h3>
          <p>
            I am currently completing a master's degree in Innovation Management at Rotterdam School of Management.<br><br>
            Also learning how to code: I completed a 3 month web development bootcamp in Paris and now focusing on expanding my knowledge of JavaScript and building apps with VueJS & NodeJS. I am currently participating in the 100 days of code challenge during which I have to code at least one hour each day and publicly share my progress here:
            <br><br>Github 👉 <a href="https://github.com/gusholguin" target="_blank">https://github.com/gusholguin</a><br><br>
            I am looking for a position in Product Management / Development starting July 2018.<br><br>
            Do not hesitate to <a @click="showContact" style="color:crimson ; cursor:pointer">contact</a> me for any additional information.<br><br><br><br>
          </p>
        </div>

      <!-- EXPERIENCE -->
      <div class="experience" v-if="experience" id="experience">
        <embed src="images/CV-Augustin-Holguin.pdf" width="800px" height="1165px" />
      </div>

      <!-- PORTFOLIO -->
      <div class="portfolio" v-if="portfolio">
        <div class="carousel">
          <h3 style="font-weight:bold">Todoo.</h3>
          <p>The ultimate responsive Todo App built with VueJS<br> Website : <a href="https://mybandb.herokuapp.com" target=_blank>https://mybandb.herokuapp.com</a></p>
          <img width="90%" src="./images/todoo.jpg"/>
          <p id="techno-stack">#Javascript #VueJS #Webpack #HTML&CSS #Bootstrap</p>
        </div>
        <hr class="portfolio-line">
        <div class="carousel">
          <h3 style="font-weight:bold">MyBnB</h3>
          <p>A clone of Airbnb which I built from scratch as a final project with 2 friends at the coding bootcamp The Hacking Project during the summer of 2017 <br> Website : <a href="https://mybandb.herokuapp.com" target=_blank>https://mybandb.herokuapp.com</a></p>
          <img width="90%" src="./images/mybnb.jpg"/>
          <p id="techno-stack">#Ruby #RubyOnRails #Javascript #HTML&CSS #Bootstrap #Heroku</p>
        </div>
        <hr class="portfolio-line">
        <div class="carousel">
          <h3 style="font-weight:bold">JavaScript Playground</h3>
          <p>A website dedicated to making JavaScript algorithms<br> Website : <a href="https://mybandb.herokuapp.com" target=_blank>https://mybandb.herokuapp.com</a></p>
          <img width="90%" src="./images/playground.jpg"/>
          <p id="techno-stack">#Javascript #jQuery #HTML&CSS</p><br><br><br>
        </div>
        <script type="text/javascript" src="js/carousel.js"></script>
      </div>

      <!-- MUSIC -->
      <div class="music" v-if="music">
        <h4>I have been playing music since I was 9. <br> Instruments: guitar, drums, piano. <br> Producing electronic music since 2013</h4>
        <p>More music on my <a href="https://soundcloud.com/gusfr" target="_blank">Soundcloud</a></p>
        <iframe width="200" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/383422325&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="200" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/338547957&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
      </div>

      <!-- CONTACT -->
      <div class="contact" v-if="contact">
        <a href="https://github.com/gusholguin" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/AugustinHolguin" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://medium.com/@augustin.holguin" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/augustinholguin/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://angel.co/augustin-holguin" target="_blank"><i class="fa fa-angellist" aria-hidden="true"></i></a>
        <br><br>email: augustin.holguin@gmail.com<br>
        tel: +33 (0) 6 27 41 57 11
      </div>
    </div>
  </div>
  <footer>
      <span>Made with <span style="color:#ce181e; font-size:0.85em">&#10084;</span> in Paris - 2018</span>
  </footer>

  </div>

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="./particles/particles.js"></script>
  <script type="text/javascript" src="./particles/particle2.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
