* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font-family: 'Catamaran', sans-serif;
  width: 100%;
  height: 100%;
  color: #4d4f53;
}

.bg-dark {
  background-color: #537791!important;
  box-shadow: 0 .1px 5px;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}

#title-header {
  position: absolute;
  color: white;
  font-size: 2em;
  right: 20px;
  transition: all .2s ease-in-out;
}

#title-header:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.content {
  margin-top: 80px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#particles-js {
  position: absolute;
  min-height:100%;
  min-width: 100%;
}

h1 {
  margin-bottom: 15px;
  color: #4d4f53;
  font-size: 3.5em;
  font-weight: bold;
}

ul li {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

ul li:hover {
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
}

.navbar-toggler-icon {
  transition: all .2s ease-in-out;
}

.navbar-toggler-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
}

/* ABOUT */
.about {
  box-sizing: border-box;
  width: 500px;
  height: 300px;
  margin: auto;
}

.about h3 {
  color: #537791;
  padding-top: 5px;
  padding-left: 120px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.about img {
  margin-top: 5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: solid 3px #4d4f53;
  float: left;
}

/* EXPERIENCE */
.experience {

}

.experience embed {
  margin-bottom: 100px;
}

/* PORTFOLIO */
.portfolio {
  padding-top: 10px;
  box-sizing: border-box;
  width: 500px;
  height: 350px;
  margin: auto;
}

.portfolio img {
  box-shadow: 0 3px 8px #4d4f53;
  transition: all .2s ease-in-out;
}

.portfolio img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#techno-stack {
  margin-top: 10px;
  color: #4986c8;
}

.portfolio-line {
  margin-bottom: 30px;
}

/* MUSIC */
.music {
  margin-top: 20px;
}

.music h4 {
  color: #4d4f53;
  padding-bottom: 10px;
}

.music p {
  padding-bottom: 10px;
}

.music iframe {
  padding-right: 10px;
  padding-left: 10px;
  width: 240px;
}

/* CONTACT */

.contact {
  box-sizing: border-box;
  border: solid 2px #4d4f53;
  width: 400px;
  height: 200px;
  margin: auto;
  margin-top: 8%;
  box-shadow: -10px 10px;
}

.contact i {
  color: #4d4f53;
  padding: 20px 12px 0 12px;
  font-size: 30px;
}

.contact i:hover {
  color: #537791;
}

footer {
  position: fixed;
  text-align: center;
  line-height: 40px;
  width: 100%;
  bottom: -7px;
  padding-bottom: 5px;
  background: #e2e2e2;
  color: #66768e;
  border-top: solid 1px #f0f0f0;
}

/* MEDIA QUERIES */

/* ABOUT */
@media (max-width: 500px) {
  h1 {
    font-size: 3em;
  }
  .about {
    margin: auto;
    width: 400px;
  }

  .about img {
    width: 80px;
    height: 80px;
  }
  .about h3 {
    font-size: 1.2em;
    padding-left: 60px;
  }
  p {
    width: 400px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.9em;
  }
  .about {
    margin: auto;
    width: 300px;
  }

  .about img {
    width: 80px;
    height: 80px;
  }
  .about h3 {
    font-size: 1.2em;
    padding-left: 60px;
  }
  p {
    width: 300px;
  }
}


/* EXPERIENCE */
@media (max-width: 500px) {
  .experience {
    width: 400px;
  }
  .experience ul {
    margin-right: 20px;
  }
  .experience ul li#exp {
    font-size: 0.9em;
    padding-left: 2px!important;
    padding-right: 2px!important;
  }
}

@media (max-width: 400px) {
  .experience {
    width: 300px;
    font-size: 0.8em;
  }
  .experience ul {
    margin-right: 0px;
    margin-left: 0px;
  }
  .experience ul li#exp {
    font-size: 0.6em;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

/* MUSIC */
@media (max-width: 500px) {
  .music {
    width: 400px;
    height: 650px;
    margin: auto;
  }
  .music iframe {
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .music {
    width: 300px;
    height: 650px;
    margin: auto;
    margin-bottom: 30px;
  }
  .music iframe {
    margin-bottom: 20px;
  }
}


/* CONTACT */
@media (max-width: 400px) {
  .contact {
    width: 330px;
    margin-top: 50px;
  }
}
